/*estilos main */

main {
    width: 100%;
}

.logo {
    width: 300px;
    height: 300px;
    margin-left: 200px;
    border-radius: 200px;
}

.logo-presentacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div-logo {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    margin: 30px 0px 30px 10px;
    width: 42%;
}

.experiencia {
    font-size: 1.5rem;
    width: 50%;
}